.my-msg {
	justify-content: flex-end;
}
.my-msg > div {
	justify-content: flex-end;
	border-top-right-radius: 0;
}
.sender-msg > div {
	justify-content: flex-start;
	border-top-left-radius: 0;
}

.message {
	color: var(--black);
	min-width: 120px;
	max-width: 250px;
	width: fit-content;
	cursor: pointer;
	padding: 10px;
	margin: 5px 0;
	border-radius: 20px;
	box-shadow: 0px 0px 5px var(--black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.message > .text {
	cursor: text;
}

.message > div {
	width: 100%;
}
.message > .time {
	color: black;
	font-size: 0.6rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.opts {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 1rem;
}
.opts > span {
	margin: 0 5px;
	cursor: pointer;
}
.message > .username {
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 10px;
}
.star {
	color: rgb(207, 186, 0);
}
.delete {
	color: rgb(224, 85, 85);
}
