.main-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #f5f5f5;
	border-radius: 7px;
}
.main-content-header {
	border-top-right-radius: 10px;
	height: 50px;
	color: black;
	font-weight: bold;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.main-content-body {
	display: flex;
	flex-direction: column;
	height: 600px;
	justify-content: space-between;
	align-self: space-between;
	border: none;
}
.message-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: scroll;
	border: none;
}
.input-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	background-color: var(--background);
	transform: translateY(9px);
	border: none;
}

.input-field {
	width: 550px;
	border: none;
	height: 39px;
	border-radius: 7px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0;
	padding: 0 10px;
	font-size: 1rem;
}
.send-btn {
	height: 40px;
	width: 60px;
	border: none;
	border-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: var(--secondary);
	color: white;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.no-chat {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--black);
}

.message-wrapper {
	display: flex;
	flex-direction: row;

	padding: 10px;
}

.back-btn {
	background-color: var(--primary);
	padding: 5px;
	border-radius: 3px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	margin: 0 7px;
	justify-self: flex-start;
}
.back-btn > a {
	text-decoration: none;
	color: white;
}
@media (max-width: 768px) {
	.main-content {
		flex-direction: column;
	}
	.main-content-header {
		height: 50px;
		border-top-right-radius: 0;
	}
	.input-field {
		width: 200px;
	}
}
@media (min-width: 768px) {
	.back-btn {
		display: none;
	}
}
