/* imports */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");

/* define rule */
:root {
	--background: #003e55;
	--primary: #00b7ff;
	--secondary: #00b7ff77;
	--default-font: "Merriweather Sans", sans-serif;
	--field: #2b444e;
}

body {
	background-color: #316477;
	font-family: var(--default-font);
	color: white;
}

/** scroll bar */
*::-webkit-scrollbar {
	width: 0.3rem;
	height: 0.3rem;
}

*::-webkit-scrollbar-track {
	border-radius: 7px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 7px;
}
